infra/weekly-usage-report.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "australiaeast"
    },
    "logAnalyticsWorkspaceName": {
      "type": "string",
      "defaultValue": "netballstats-logs-wr5i2l"
    },
    "reportEmail": {
      "type": "string",
      "defaultValue": "cmoyle@gmail.com"
    },
    "weeklyUsageQuery": {
      "type": "string",
      "defaultValue": "AppPageViews | take 1"
    }
  },
  "variables": {
    "logicAppName": "netballstats-weekly-usage-report",
    "actionGroupName": "netballstats-weekly-usage-report",
    "monitorConnectionName": "azuremonitorlogs-weekly-report",
    "officeConnectionName": "office365-weekly-report",
    "monitorReaderRoleId": "43d0d8ad-25c7-4714-9337-8ba259a9fe05"
  },
  "resources": [
    {
      "type": "Microsoft.Insights/actionGroups",
      "apiVersion": "2023-01-01",
      "name": "[variables('actionGroupName')]",
      "location": "Global",
      "properties": {
        "groupShortName": "statsweekly",
        "enabled": true,
        "emailReceivers": [
          {
            "name": "craig",
            "emailAddress": "[parameters('reportEmail')]",
            "useCommonAlertSchema": false
          }
        ]
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[variables('monitorConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Azure Monitor Logs weekly report",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]",
          "type": "Microsoft.Web/locations/managedApis"
        },
        "parameterValueSet": {
          "name": "managedIdentityAuth",
          "values": {
            "token": {}
          }
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[variables('officeConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 weekly report mail",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]",
          "type": "Microsoft.Web/locations/managedApis"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('monitorConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('officeConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Weekly_report": {
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "hours": [
                    "8"
                  ],
                  "minutes": [
                    0
                  ],
                  "weekDays": [
                    "Monday"
                  ]
                },
                "timeZone": "AUS Eastern Standard Time"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Run_weekly_usage_query": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/queryData",
                "queries": {
                  "subscriptions": "[subscription().subscriptionId]",
                  "resourcegroups": "[resourceGroup().name]",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "[parameters('logAnalyticsWorkspaceName')]",
                  "timerange": "Last 7 days"
                },
                "body": "[parameters('weeklyUsageQuery')]"
              },
              "runAfter": {}
            },
            "Format_report_table": {
              "type": "Table",
              "inputs": {
                "from": "@body('Run_weekly_usage_query')?['value']",
                "format": "HTML"
              },
              "runAfter": {
                "Run_weekly_usage_query": [
                  "Succeeded"
                ]
              }
            },
            "Send_weekly_report": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail",
                "body": {
                  "To": "[parameters('reportEmail')]",
                  "Subject": "Statsball weekly usage report",
                  "Body": "<p>Public traffic summary for the last 7 days from Statsball browser telemetry.</p>@{body('Format_report_table')}",
                  "Importance": "Normal"
                }
              },
              "runAfter": {
                "Format_report_table": [
                  "Succeeded"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('monitorConnectionName'))]",
                "connectionName": "azuremonitorlogs",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('officeConnectionName'))]",
                "connectionName": "office365",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "value": "[variables('logicAppName')]"
    },
    "actionGroupName": {
      "value": "[variables('actionGroupName')]"
    }
  }
}
